.nav {
    background-color: var(--clr-bg);
}
    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav__item {
        padding: calc(var(--gutter) * 2);
        border: 1px solid transparent;
    }
        .nav__item:hover,
        .nav__item:focus-within,
        .nav__item.active {
            background-color: var(--clr-bg--drk);
            border-color: var(--clr-bg--drkr) transparent;
        }
        .footer.nav .nav__item:hover,
        .footer.nav .nav__item:focus-within,
        .footer.active {
            background-color: var(--clr-secondary--drk);
            border-color: var(--clr-secondary--drkr) transparent;
        }
    .nav__link {
        display: block;
        color: var(--clr-body);
    }
        .nav__link:hover,
        .nav__link:focus-within {
            transform: translateY(calc(var(--gutter) / 6));
        }

.container {
    margin: 0 auto;
    width: 750px;
    max-width: 90%;
}

.content {
    display: flex;
	gap: calc(var(--gutter) * 2);
    flex-direction: row;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* align-items: flex-start; */
}

.heading {
    /* margin-bottom: calc(var(--gutter) - 0.2em); */
    margin-bottom: calc(var(--gutter) / 4);
}
.subheading {
    margin: var(--gutter) auto;
}

.img {
    margin-top: var(--gutter);
    border-radius: calc(var(--gutter) - 0.2em);
    /* border-radius: calc(var(--gutter) / 4); */
}

.card {
	/* margin: calc(var(--gutter) * 4) auto; */
	/* margin-top: calc(var(--gutter)); */
	margin: calc(var(--gutter)) auto;
    padding: calc(var(--gutter)) calc(var(--gutter) * 2) calc(var(--gutter) * 4);    
    max-width: 18em;
    /* max-height: 21em; */
    background-color: var(--clr-card);
	box-shadow: 0px 0px 5px #efefef, 0px 5px 10px #333, 0px 15px 15px #FFFFFF;
	border-radius: var(--gutter);
}
    .card > .img {
        max-height: 10em;
    }

    .card__heading {
        margin: calc(var(--gutter) * 2) auto var(--gutter);
    }





.active {
    background-color: var(--clr-bg--drk);
    border-color: var(--clr-bg--drkr);
}




.footer {
    margin-top: calc(var(--gutter) * 4);
    background-color: var(--clr-secondary);
}
    .footer.nav .nav__item:hover,
    .footer.nav .nav__item:focus-within,
    .footer .active {
        background-color: var(--clr-secondary--drk);
        border-color: var(--clr-secondary--drkr) transparent;
    }

a.up-arrow,
a.down-arrow {
	position: absolute;
	bottom: 1em;
    right: 1em;
    transform: unset;
    padding: 0.5em;
    border-radius: 20%;
    color: var(--clr-body);
	background-color: var(--clr-bg--drkr);
	/* background-color: var(--clr-link); */
}
    a.up-arrow:hover,
    a.down-arrow:focus {
        transform: translateY(var(--gutter));
    }
    .up-arrow::before {
        content: "\25B2";
    }
    .down-arrow::after {
        content: "\25BC";
    }





/* ===================== */
/* === Media Queries === */
/* ===================== */
@media(min-width: 50em) {
    :root {
        /* --gutter: 1em;    */
    }
    .nav__list {
        flex-direction: row;
        /* min-height: 4em; */
    }
    a:hover,
    a:focus,
    a:focus-within {
        transform: translateY(var(--gutter));
    }
}
